#app {
  margin: auto;
  max-height: 350px;
  max-width: 1450px;
  color: rgb(58, 58, 58);
}

.disclaimer {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.dropdown {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}

select {
  width: 7%;
  height: 30px;
  padding: 5px 0px;
  border: 1px solid rgba(240, 142, 26, 0.9);
}